body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4; /* Cor de fundo mais suave */
    margin: 0;
    padding: 20px; /* Adicionado padding geral para melhor espaçamento */
    min-height: 100vh;
    display: flex; /* Para centralizar o conteúdo verticalmente em telas maiores */
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}

h1 {
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    width: 90%; /* Largura responsiva */
    max-width: 800px; /* Largura máxima para não esticar demais em telas grandes */
}

.filho-direto>p{
background-color: red;
}

.irmaoes-seguintes~ul{
    background-color: red;
}